name: Selenium Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chrome, firefox] # testaremos nos dois navegadores

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Run Selenium Tests (Chrome)
      run: mvn test -Dbrowser=${{ matrix.browser }} # navegador passado por parametro